<div class="blog">
<% @post.tags.build %>
<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
  <div id="errorExplanation">
    <b><%= pluralize(@post.errors.count, "error") %> prohibited
      this post from being saved:</b>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title, :size => 110 %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text, :rows => 20, :cols => 85 %>
  </p>
 
  <%= render :partial => 'tags/form', :locals => {:form => f} %>
  
   <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
