<div class="blog">
<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
  <b>Tags:</b>
  <%= join_tags(@post) %>
</p>
</div>

<b>Comments</b>
<%= render @post.comments %>

<b>Add a comment:</b>
<%= render "comments/form" %>

<%= link_to 'Back', posts_path %> | <%= link_to 'Edit', edit_post_path(@post) %>